Hello $connectionFirstName,

$requesterDisplayName ($requesterFirstName $requesterLastName) souhaite t'ajouter en tant qu'ami

Merci de suivre le lien ci-dessous afin de répondre à sa demande.

$invitationsUrl

A bientôt sur $siteName.

$siteUrl
