#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $requesterFirstName,<br/><br/>

$connectionDisplayName a refusé de t'ajouter comme ami.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")