#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $borrowerFirstName,<br/><br/>

<b>$lenderDisplayName</b> a indiqué qu'il t'a prêté / va te prêter l'objet suivant:<br/><br/>

<b>$itemTitle</b><br/><br/>

Tu peux maintenant <a href="$lendTransactionUrl">suivre cette transaction</a>.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")