Hello $borrowerFirstName,

$lenderDisplayName a indiqué qu'il t'a prêté / va te prêter l'objet suivant:

$itemTitle

Tu peux maintenant suivre cette transaction ici: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl