Hello $firstName,

Tu as demandé un rappel de ton mot de passe pour $siteName. Si ce n'est pas le cas, ignore simplement ce message. 

Utilise les données suivantes pour te connecter:

Nom d'utilisateur: $username
Mot de passe: $password

A bientôt sur $siteName.

$siteUrl