#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $ownerFirstName,<br/><br/>

<b>$requesterDisplayName</b> souhaite t'emprunter l'objet suivant:<br/><br/>

<b>$itemTitle</b><br/><br/>

Du: <b>$startDateLabel</b><br/>
Jusqu'au: <b>$endDateLabel</b><br/><br/>

Message:<br/>
<b>$textEscaped</b>

<br/><br/>

Merci de <a href="$lendTransactionUrl">lui rendre réponse</a> le plus rapidement possible.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")