Hello $ownerFirstName,

$requesterDisplayName souhaite t'emprunter l'objet suivant:

$itemTitle

Merci de lui rendre réponse le plus rapidement possible depuis cette page: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl