Hello $borrowerFirstName,

Ceci est un rappel concernant l'objet que $lenderName devrait te prêter le $startDateLabel.

Accéder à l'emprunt $lendTransactionTitle: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl