#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Bonjour $firstName,<br/><br/>

$commenterDisplayName a répondu à un commentaire avec ce message:<br/><br/>

<b>$commentEscaped</b><br/><br/>

Tu peux à ton tour répondre à ce commentaire depuis <a href="$commentUrl">cette page</a>.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.<br/>

<br/><span style="font-size: 80%;">Afin de ne plus recevoir cet email, mets à jour <a href="$profileUrl">ton profil.</a></span>

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")