#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $firstName,<br/><br/>

Ton compte pour $siteName a été validé avec succès.<br/><br/>

Tu peux dès maintenant te connecter en utilisant les informations suivantes:<br/><br/>

Username: <b>$username</b><br/>
Password: <b>$password</b><br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")