Hello $firstName,

You asked for your password information for $siteName. If you did not, just ignore this email. 

Use the following information to login:

Username: $username
Password: $password

Regards,

$signature