<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        
<!--        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>-->
<!--        <property name="hibernate.connection.url">jdbc:derby:C:/dev/_db/gollum</property>-->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>-->
	        
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lendity?characterEncoding=UTF-8</property>
		<property name="connection.username">pferrot</property>
		<property name="connection.password">klop</property>
        
        <property name="hibernate.show_sql">false</property>
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
<!--        <property name="hibernate.connection.charSet">UTF-8</property>-->
        
        
        <!-- 
        See http://ehcache.org/documentation/hibernate.html
        -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
         
        <mapping class="com.pferrot.security.model.Role"/>
        <mapping class="com.pferrot.security.model.User"/>
        
        <mapping class="com.pferrot.lendity.model.Country"/>
        <mapping class="com.pferrot.lendity.model.Gender"/>
        <mapping class="com.pferrot.lendity.model.ListValue"/>
        <mapping class="com.pferrot.lendity.model.OrderedListValue"/>
        <mapping class="com.pferrot.lendity.model.Person"/>
        <mapping class="com.pferrot.lendity.model.Language"/>
        
        <mapping class="com.pferrot.lendity.model.Item"/>
        <mapping class="com.pferrot.lendity.model.Item"/>
        <mapping class="com.pferrot.lendity.model.ItemCategory"/>
        <mapping class="com.pferrot.lendity.model.ItemVisibility"/>
        
        <mapping class="com.pferrot.lendity.model.Document"/>
        
        <mapping class="com.pferrot.lendity.model.ConnectionRequest"/>
        <mapping class="com.pferrot.lendity.model.ConnectionRequestResponse"/>
        
        <mapping class="com.pferrot.lendity.model.LendRequest"/>
        <mapping class="com.pferrot.lendity.model.LendRequestResponse"/>
        
        <mapping class="com.pferrot.lendity.model.LendTransaction"/>
        <mapping class="com.pferrot.lendity.model.LendTransactionStatus"/>
        
        <mapping class="com.pferrot.lendity.model.Comment"/>
        <mapping class="com.pferrot.lendity.model.ItemComment"/>
        <mapping class="com.pferrot.lendity.model.NeedComment"/>
        <mapping class="com.pferrot.lendity.model.LendTransactionComment"/>
        <mapping class="com.pferrot.lendity.model.LendTransactionSystemComment"/>
        
        <mapping class="com.pferrot.lendity.model.Need"/>
        
        <mapping class="com.pferrot.lendity.model.Evaluation"/>  
        
        <mapping class="com.pferrot.lendity.model.Group"/>  
        <mapping class="com.pferrot.lendity.model.GroupMembershipRequest"/>  
        <mapping class="com.pferrot.lendity.model.GroupMembershipRequestResponse"/>
        <mapping class="com.pferrot.lendity.model.GroupComment"/>
        <mapping class="com.pferrot.lendity.model.GroupJoinRequest"/>
        <mapping class="com.pferrot.lendity.model.GroupJoinRequestResponse"/>         
        
        <mapping class="com.pferrot.envers.model.UserRevisionEntity"/>
        
        <mapping class="com.pferrot.lendity.model.IpToCountry"/>
        
        <mapping class="com.pferrot.lendity.model.PersonConfiguration"/>
        
    </session-factory>
</hibernate-configuration>