<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        
<!--        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>-->
<!--        <property name="hibernate.connection.url">jdbc:derby:C:/dev/_db/gollum</property>-->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>-->
	        
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sharedcalendar</property>
		<property name="connection.username">pferrot</property>
		<property name="connection.password">klop</property>
        
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>        
        
        
        <mapping class="com.pferrot.security.model.Role"/>
        <mapping class="com.pferrot.security.model.User"/>
        
        <mapping class="com.pferrot.sharedcalendar.model.Address"/>
        <mapping class="com.pferrot.sharedcalendar.model.Country"/>
        <mapping class="com.pferrot.sharedcalendar.model.Gender"/>
        <mapping class="com.pferrot.sharedcalendar.model.ListValue"/>
        <mapping class="com.pferrot.sharedcalendar.model.OrderedListValue"/>
        <mapping class="com.pferrot.sharedcalendar.model.Person"/>
        <mapping class="com.pferrot.sharedcalendar.model.PersonSpeciality"/>
        <mapping class="com.pferrot.sharedcalendar.model.Language"/>
        
        <mapping class="com.pferrot.sharedcalendar.model.OwnerHistoryEntry"/>
        <mapping class="com.pferrot.sharedcalendar.model.BorrowerHistoryEntry"/>
        <mapping class="com.pferrot.sharedcalendar.model.WaitListEntry"/>
        
        <mapping class="com.pferrot.sharedcalendar.model.movie.Movie"/>
        <mapping class="com.pferrot.sharedcalendar.model.movie.MovieInstance"/>
        <mapping class="com.pferrot.sharedcalendar.model.movie.MovieCategory"/>
        <mapping class="com.pferrot.sharedcalendar.model.movie.MovieFormat"/>
        
        <mapping class="com.pferrot.envers.model.UserRevisionEntity"/>
        
    </session-factory>
</hibernate-configuration>