#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Bonjour $requesterFirstName,<br/><br/>

<b>$connectionFirstName $connectionLastName</b> a ajouté un objet répondant à ta recherche "$needTitle":<br/><br/>

<b><a href="$itemUrl">$itemTitle</a></b><br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")