Hello $requesterFirstName,<br/><br/>

$ownerFirstName $ownerLastName refuse de te prêter l'objet suivant:<br/><br/>

<b>$itemTitle</b><br/><br/>

Tu peux encore prendre contact avec $ownerFirstName en répondant à cet e-mail si tu veux connaître les raisons de ce refus.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.