Hello $requesterFirstName,

$connectionFirstName $connectionLastName denied your connection request and banned you. This means that you cannot try to add $connectionFirstName $connectionLastName as connection anymore.

Best regards,

sharedcalendar.com