#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $requesterFirstName,<br/><br/>

<b>$ownerDisplayName</b> accepte de te prêter l'objet suivant:<br/><br/>

<b>$itemTitle</b><br/><br/>

Etape suivante: <a href="$lendTransactionUrl">régler les détails de la transaction</a>.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")