Hello $requesterFirstName,

$ownerDisplayName accepte de te prêter l'objet suivant:

$itemTitle

Etape suivante, régler les détails du prêt: $lendTransactionUrl 

A bientôt sur $siteName.

$siteName