Hello $requesterFirstName,

$ownerFirstName $ownerLastName accepte de te prêter l'objet suivant:

$itemTitle

Prends contact avec $ownerFirstName afin de régler les détails de l'échange. Tu peux par exemple simplement répondre à cet e-mail.

A bientôt sur $siteName.

$siteName