Hello $connectionFirstName,

$requesterFirstName $requesterLastName wants to add you to his/her network.

Please follow the link below to confirm/refuse pending connection requests:

TODO

Thank you,

$signature