#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello $lenderFirstName,<br/><br/>

Ceci est un rappel concernant l'objet que tu dois prêter à <b>$borrowerName</b> le <b>$startDateLabel</b>.<br/><br/>

<a href="$lendTransactionUrl">Accéder au prêt $lendTransactionTitle</a><br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")