Hello $lenderFirstName,

Ceci est un rappel concernant l'objet que tu dois prêter à $borrowerName le $startDateLabel.

Accéder au prêt $lendTransactionTitle: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl