Hello $firstName,<br/><br/>

You asked for your password information for $siteName. If you did not, just ignore this email.<br/><br/> 

Use the following information to login:<br/><br/>

Username: <b>$username</b><br/>
Password: <b>$password</b><br/><br/>

Regards,<br/><br/>

$signature