Bonjour $connectionFirstName,

$requesterFirstName $requesterLastName recherche l'objet suivant:

$needTitle

Si tu possèdes cet objet, suis ce lien afin de l'ajouter dans lendity: $itemAddUrl. $requesterFirstName sera notifié de ton ajout automatiquement.

A bientôt sur $siteName.

$siteUrl

Afin de ne plus recevoir cet email, mets à jour ton profil: $profileUrl