html, body {
    margin:0;
    padding:0;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .90em;
    color: #dddddd;
    /* background: #424242 url('/shared_calendar/public/images/background.gif') repeat-x top left; */
    background-color: white;
}

div#containerDiv {
	width: 900px;
  position: relative;
}

/* ========================================================================================== */
/* HEADER */
/* ========================================================================================== */

div#header {
  position: relative;
  top: 10px;    
	width: 900px;
	height: 60px;
  background-color: #123456;	
}

/* ========================================================================================== */
/* end - HEADER */
/* ========================================================================================== */

/* ========================================================================================== */
/* MENU */
/* ========================================================================================== */

div#menu {
  position: relative;
  top: 0px;  
	width: 900px;
	height: 30px;
	background-color: #669999;
	padding-top: 0px; 
	padding-bottom: 0px; /* No need for padding at the bottom as there is #menu_bottom already. */	
	z-index: 100;
}

div#menu_tl{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/tl_10.gif') 0 0 no-repeat;
}

div#menu_tr{
  position: absolute;
  top: 0px;
  left: 890px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/tr_10.gif') 0 0 no-repeat;
}

div#menu_bl{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/bl_10.gif') 0 0 no-repeat;
}

div#menu_br{
  position: absolute;
  top: 20px;
  left: 890px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/br_10.gif') 0 0 no-repeat;
}

div#menuContainer {
  width: 100%;
  height: 20px;
  position: relative; 
}

div.menuContainer2 {
  position: absolute;
	width: 150px;
	height: 20px;
}

div#menu1 {
  top: 0px;
  left: 640px;
  width: 75px;
  height: 20px;
}

div#menu2 {
  top: 0px;
  left: 720px;
  width: 75px;
  height: 20px;
}

div#menuLogin {
  top: 0px;
  left: 800px;
  width: 75px;
  height: 20px;
}

div#menu1Header {
  position: absolute;
  top: 0px;
  left: 0px; 
}

div#menu2Header {
  position: absolute;
  top: 0px;
  left: 0px; 
}

div#menu3Header {
  position: absolute;
  top: 0px;
  left: 0px; 
}

div.menuHeader {
  width: 75px;
  height: 23px;
  padding-top: 7px;
  padding-bottom: 0px;
  background: none;
  cursor: pointer;
  font-weight: bold;
  color: #123456;
}

div.menuHeader:hover {
  color: #669999;
  background-color: #123456;
}

a.menuHeaderLink:link, a.menuHeaderLink:visited, a.menuHeaderLink:active {
  text-decoration: none;
  color: #123456;
}

a.menuHeaderLink:hover {
  color: #669999;  
}

div.menuContent {
  position: absolute;
  width: 150px;
  background-color: yellow;
  display: none;
}

div.menuEntry {
  vertical-align: middle; 
  text-align: center;
  cursor: pointer;
}

div.menuEntry:hover {
  background-color: white; 
}

a.menuLink:link, a.menuLink:visited, a.menuLink:active, a.menuLink:hover {
  font-color: black;
  text-decoration: none;
}

/* ========================================================================================== */
/* end - MENU */
/* ========================================================================================== */

/* ========================================================================================== */
/* CONTENT */
/* ========================================================================================== */

div#content {
  position: relative;
  top: 20px;
	width: 900px;
	background-color: #669999;
	padding-top: 10px; 
	padding-bottom: 0px; /* No need for padding at the bottom as there is #content_bottom already. */
}

div#content_tl{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/tl_10.gif') 0 0 no-repeat;
}

div#content_tr{
  position: absolute;
  top: 0px;
  left: 890px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/tr_10.gif') 0 0 no-repeat;
}

div#content_bl{
  position: absolute;
  top: 100%;
  left: 0px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/bl_10.gif') 0 0 no-repeat;
}

div#content_br{
  position: absolute;
  top: 100%;
  left: 890px;
  width: 10px;
  height: 10px;
	background : url('/shared_calendar/public/images/br_10.gif') 0 0 no-repeat;
}

div#content_bottom{
  position: absolute;
  top: 100%;
  left: 10px;
  width: 880px;
  height: 10px;
	background-color: #669999;
}

div#realContent {
	background-color: yellow;
	text-align: center;		
	position: absolute;
 	top: 0px;
	left: 0px;		
	width: 900px;
}

/* ========================================================================================== */
/* end - CONTENT */
/* ========================================================================================== */

/* ========================================================================================== */
/* FOOTER */
/* ========================================================================================== */

div#footer {
  position: relative;
  top: 40px; /* 30 + 10 because of #content_bottom */
	width: 900px;
	height: 50px;
	background-color: #123456;
	/*background: none;*/
  font-size: .75em;
}

/* ========================================================================================== */
/* end - FOOTER */
/* ========================================================================================== */

.selected {
  border-color: black;
  border-width: 2px;
}
