Bonjour $firstName,

Un commentaire a été ajouté sur la transaction $objectTitle:

$comment

Tu peux répondre à ce commentaire en visitant la page suivante: $objectUrl

A bientôt sur $siteName.

$siteUrl