#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Bonjour $firstName,<br/><br/>

Ton nouveau mot de passe pour te connecter sur $siteName:<br/><br/>

Nom d'utilisateur: <b>$username</b><br/>
Mot de passe: <b>$password</b><br/><br/>

Une fois connecté sur $siteName, il est recommandé de modifier ce mot de passe depuis ton profil.<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")