#include("com/pferrot/lendity/emailtemplate/html_header.vm")

Hello,<br/><br/>

J'utilise "lendity" depuis quelques temps et je t'envoie cette invitation car je pense que cela devrait t'intéresser.<br/><br/>

Lendity est un réseau social basé sur le principe du prêt et de l'emprunt. Uns fois inscrit, tu pourras consulter les objets de tes amis (DVD, livres, outils,...) et emprunter ceux dont tu as besoin.<br/>
Lendity te permet également de suivre les objets prêtés et de créer des inventaires.<br/><br/>

<a href="$registrationUrl">Clique ici pour ouvrir un compte</a>.<br/>
Ton "code d'activation" est le suivant: $code<br/><br/>

A bientôt sur <a href="$siteUrl">$siteName</a>.<br/><br/>

$firstName $lastName

#include("com/pferrot/lendity/emailtemplate/html_footer.vm")