Bonjour,

J'utilise depuis quelques temps "lendity" et je pense que cela pourrait t'intéresser.

Lendity est un réseau social basé sur le principe du prêt et de l'emprunt. Lendity te permet également de suivre les objets prêtés et de créer des inventaires.

Suis le lien suivant pour ouvrir un compte: $registrationUrl

A bientôt sur $siteName.

$firstName