$personFirstName $personLastName te propose de le rejoindre sur LENDITY.CH, le réseau social suisse du prêt et de l'emprunt.

Sais-tu qu'autour de toi des milliers d'objets prennent la poussière dans les garages de tes amis et voisins? Pourquoi ne pas les emprunter au lieu de les acheter neufs et de ne les utiliser qu'une seule fois? Outils de jardinage, électroménager, livres, DVD, ...: tout s'emprunte sur LENDITY.CH.

LENDITY.CH met à ta disposition tous les outils nécessaires pour emprunter des objets en toute simplicité et sécurité.

Tu trouveras $personFirstName $personLastNameMon sous le pseudo $personDisplayName, ajoute-le comme ami dès que tu seras inscrit.

N'attends plus et rejoins-le sur LENDITY.CH !

Lendity.ch /// Partager. Simplement.
$siteUrl

Tu as reçu cet e-mail parce que $personFirstName $personLastName ($personEmail) t'as invité à rejoindre Lendity.