<table style="background-color: #ffffff; width: 700px; border: 1px solid #073351; border-radius: 5px; marginword-wrap:break-word!important; background-color: #ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px;">
<tr><td style="padding: 15px 15px 15px 15px;">
<table width="100%">

<tr><td style="background-color: #eaeaf2; padding: 5px; width: 100%;">
	<a href="http://www.lendity.com"><img src="cid:logo" border="0"/></a>
</td></tr>

<tr><td style="font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 90%;">
	<br/>