Hello $firstName,<br/><br/>

Your account for $siteName has been successfully validated.<br/><br/>

Use the following information to login:<br/><br/>

Username: <b>$username</b><br/>
Password: <b>$password</b><br/><br/>

Thank you for joining,<br/><br/>

$signature