/*
Template:	GT-500
File:		custom.css - Use this file to add any custom styles you need

If you add styles to this template, be sure to include it in your template files.
*/

h2.gt-table-head  {
 font-size: 120%!important;	
}

h2.gt-form-head  {
 font-size: 120%!important;	
}

div.contentContent {
	background-color: #eaeaf2;
	padding-bottom: 20px;	
}

table.pagingTable {
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.pagingTable td {
	padding-bottom: 4px;	
} 

table.pagingTable ul {
	margin: 0; 
	padding: 0;
}
table.pagingTable li {
	margin: 2px; 
	position: relative; 
	padding: 4px 0; 
	float: left;  
	list-style: none;
}

table.pagingTable span {
	float: left; 
	margin: 0 4px;
}

.pointer {
	cursor: pointer;
}

.gt-form-text-login {
	width: 180px!important;	
	font-size: 92%!important;
	padding: 3px 0px!important;
}
.gt-form .error {
	/*
	background: url(../images/famfamfam/icons/exclamation.png) no-repeat 0 0;
	*/
	font-size: 80%;
	color: #ff5555;
	padding-left:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
	
	font-weight: bold;
	display: block;
}

.validationError {
	background-color: #ff5555!important;
	color: #000000!important;
}

.gt-btn-green-medium-25 {
	width: 83px;
	background: url(../images/gt/btn-green-medium_25.png) no-repeat 0 0 transparent;
	font-size: 80%;
}

/*
Todo: different color when mousing over buttons.
*/
.gt-btn-green-mini:hover {
text-decoration: none!important;
	background: url(../images/gt/btn-green-mini-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-small:hover {
text-decoration: none!important;
	background: url(../images/gt/btn-green-small-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-medium:hover {
	text-decoration: none!important;
	background: url(../images/gt/btn-green-medium-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-large:hover {
	text-decoration: none!important;
	background: url(../images/gt/btn-green-large-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-brown-mini:hover {
}
.gt-btn-brown-small:hover {
}
.gt-btn-brown-medium:hover {
}
.gt-btn-brown-large:hover {
}

.filterActive {
	background-color: #094e62!important;
	color: #eaeaf2!important;
}

.small {
	font-size:82%;
}

.clearSearch {
	font-size:82%;
	padding: 0 0 0 25px;
}

.gt-form label.small {
	font-size:82%;
}

div.highlightedBg {
	background-color: #d3d3e1;
	width: 100%;
}

table.filtersTable {
	vertical-align: top;
}

table.filtersTable td.separatorCell {
	width: 15px;
}

table.filtersTable td.itemSearchCell {
	width: 200px;
}

table.filtersTable td.personSearchCell {
	width: 350px;
}

table.menuTable {
	width: 940px;
	padding: 0;
	vertical-align: middle;
}

.gt-search {
	width: 160px!important;	
}

input.shortcutSearchInput {
	width: 170px;	
}

input.listerSearchInput {
	width: 100%;	
}

input.grayColor {
	color: gray!important;
}

span.linkStyleAction {
	color: #ff6600;
	text-decoration: none;
	font-weight: bold;
	font-size:100%;
	cursor: pointer; 
}

span.linkStyleAction:hover {
	color: #ff9900;
}

.fontSizeSmall {
	font-size:85%!important;
}

.fontSizeLarge {
	font-size:115%!important;
}

.fontSizeLargeLarge {
	font-size:130%!important;
}

span.linkStyleActionSmall {
	color: #ff6600;
	text-decoration: none;
	font-weight: normal;
	font-size:90%;
	cursor: pointer; 
}

span.linkStyleActionSmall:hover {
	color: #ff9900;
}

/*
qTip
See http://craigsworks.com/projects/qtip/docs/#structure
*/
.qtip {
}

.qtip-stylename {
}

.qtip-tip {
}

.qtip-wrapper {
}

.qtip-borderTop {
}

.qtip-wrapper {
}

.qtip-contentWrapper {	
}

.qtip-title {
}

.qtip-button {
}

.qtip-content {
	font-size:90%;
	background-color: #094e62;
	border: 0px;
}

#lendForm {
	background-color: #094e62;	
}

#lendForm td {
	height: 25px;
}


.qtip-content div {	
	padding: 10px;
	background-color: #094e62;
}

.qtip-content table {	
	border-width: 0px;
	background-color: #094e62;
	color: #eaeaf2!important;
}

.qtip-content th {
	text-align: right;
	padding: 5px;	
	background-color: #094e62;
}

.qtip-content td {
	text-align: left;
	padding: 5px;
	background-color: #094e62;
}

.qtip-borderBottom {
}

/*
For the datepicker to appear
above the qtip.
*/
#ui-datepicker-div {
    z-index: 9999999;
    font-size:90%!important;
}

div.ui-datepicker-title {
	color: black;
}

table.ui-datepicker-calendar a:hover {
	text-decoration: none!important;
}


table.twoColumns {
	border-width: 0px!important;
	border-color: black!important;
	border-style: solid!important;
}

table.twoColumns td {
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
	border-width: 0px!important;
	border-color: black!important;
	border-style: solid!important;
}

span.linkColor {
	color: #ff6600;	
}

div.loginSquares {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 200px;
	border: 1px;
	border-style: solid;
	border-color: #073351; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;"
	padding: 5px;
	color: #094e62;
	line-height: 140%;
	overflow: hidden;
}

div.loginSquares h2 {
	color: black;
	font-size: 130%;
}

.backgroundColor1 {
	background-color: #d3d3e1;
}

.backgroundColor2 {
    background-color: #ff9900;
}

.backgroundColor3 {
	background-color: #094e62;
	color: #eaeaf2;
}