/*
Template:	GT-500
File:		custom.css - Use this file to add any custom styles you need

If you add styles to this template, be sure to include it in your template files.
*/
.gt-form-text-login {
	width: 180px!important;	
	font-size: 92%!important;
	padding: 3px 0px!important;
}
.gt-form .error {
	/*
	background: url(../images/famfamfam/icons/exclamation.png) no-repeat 0 0;
	*/
	font-size: 80%;
	color: #c2462c;
	padding-left:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
	
	font-weight: bold;
	display: block;
}

/*
Todo: different color when mousing over buttons.
*/
.gt-btn-green-mini:hover {
}
.gt-btn-green-small:hover {
}
.gt-btn-green-medium:hover {
}
.gt-btn-green-large:hover {
}
.gt-btn-brown-mini:hover {
}
.gt-btn-brown-small:hover {
}
.gt-btn-brown-medium:hover {
}
.gt-btn-brown-large:hover {
}

.validationError {
	background-color: #f8b6a1!important;
}

.clearSearch {
	font-size: 10px;
	padding: 0 0 0 25px;
}

.gt-form label.small {
	font-size:82%;
}

div.highlightedBg {
	background-color: #f1f4e2;
	width: 100%;
}