/*
Template:	GT-500
File:		custom.css - Use this file to add any custom styles you need

If you add styles to this template, be sure to include it in your template files.
*/
.gt-form-text-login {
	width: 180px!important;	
	font-size: 92%!important;
	padding: 3px 0px!important;
}
.gt-form .error {
	/*
	background: url(../images/famfamfam/icons/exclamation.png) no-repeat 0 0;
	*/
	font-size: 80%;
	color: #c2462c;
	padding-left:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
	
	font-weight: bold;
	display: block;
}

.gt-btn-green-medium-25 {
	width: 83px;
	background: url(../images/gt/btn-green-medium_25.png) no-repeat 0 0 transparent;
	font-size: 80%;
}

/*
Todo: different color when mousing over buttons.
*/
.gt-btn-green-mini:hover {
text-decoration: none!important;
	background: url(../images/gt/btn-green-mini-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-small:hover {
text-decoration: none!important;
	background: url(../images/gt/btn-green-small-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-medium:hover {
	text-decoration: none!important;
	background: url(../images/gt/btn-green-medium-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-green-large:hover {
	text-decoration: none!important;
	background: url(../images/gt/btn-green-large-hover.png) no-repeat 0 0 transparent;
}
.gt-btn-brown-mini:hover {
}
.gt-btn-brown-small:hover {
}
.gt-btn-brown-medium:hover {
}
.gt-btn-brown-large:hover {
}

.validationError {
	background-color: #f8b6a1!important;
}

.filterActive {
	background-color: #93e0b8!important;
}

.small {
	font-size:82%;
}

.clearSearch {
	font-size:82%;
	padding: 0 0 0 25px;
}

.gt-form label.small {
	font-size:82%;
}

div.highlightedBg {
	background-color: #f1f4e2;
	width: 100%;
}

table.filtersTable {
	vertical-align: top;
	width: 100%;
}

input.listerSearchInput {
	width: 90%;	
}

input.grayColor {
	color: gray!important;
}

span.linkStyleAction {
	color: #47790a;
	text-decoration: none;
	font-weight: bold;
	font-size:100%;
	cursor: pointer; 
}

span.linkStyleAction:hover {
	text-decoration: underline;
}

span.linkStyleActionSmall {
	color: #47790a;
	text-decoration: none;
	font-weight: normal;
	font-size:90%;
	cursor: pointer; 
}

span.linkStyleActionSmall:hover {
	text-decoration: underline;
}

/*
qTip
See http://craigsworks.com/projects/qtip/docs/#structure
*/
.qtip {
}

.qtip-stylename {
}

.qtip-tip {
}

.qtip-wrapper {
}

.qtip-borderTop {
}

.qtip-contentWrapper {	
}

.qtip-title {
}

.qtip-button {
}

.qtip-content {
	font-size:90%;
	background-color: #bad19b;	
}

#lendForm {
	background-color: #bad19b;	
}

#lendForm td {
	height: 25px;
}


.qtip-content div {	
	padding: 10px;
	background-color: #bad19b;
}

.qtip-content table {	
	border-width: 0px;
	background-color: #bad19b;
}

.qtip-content th {
	text-align: right;
	padding: 5px;	
	background-color: #bad19b;
}

.qtip-content td {
	text-align: left;
	padding: 5px;
	background-color: #bad19b;
}

.qtip-borderBottom {
}

/*
For the datepicker to appear
above the qtip.
*/
#ui-datepicker-div {
    z-index: 9999999;
    font-size:90%!important;
}

div.ui-datepicker-title {
	color: black;
}

table.ui-datepicker-calendar a:hover {
	text-decoration: none!important;
}


