/*
Template:	GT-500
File:		override.css - Use this file to override any template styles
To override a style, just copy and paste the style from gt-styles.css into this file.
You can then use !important to override the style.

If you add styles to this template, be sure to include it in your template files.
*/

/*
Overridden for the cursor property.
*/
.gt-btn-green-mini, .gt-btn-green-small, .gt-btn-green-medium, .gt-btn-green-large, .gt-btn-brown-mini, .gt-btn-brown-small, .gt-btn-brown-medium, .gt-btn-brown-large {
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #fff!important;
	text-decoration: none!important;
	font-size: 13px;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer!important;
	cursor: hand!important;	
}



.gt-btn-green-medium-25
{
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #fff!important;
	text-decoration: none!important;
	font-size: 13px;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer!important;
	cursor: hand!important;	
}

/*
Overridden for width.
*/
.gt-login-box {
	width: 420px!important;
	margin-left: auto;
	margin-right: auto;
	padding: 0.7em 1.5em;
	border: 0px solid #dddddd;
	border-radius: 5px;
	text-align: left;
}

/*
Overridden for align right.
*/
.gt-util-box-inner {
	padding: 0px!important; 
}

a:link, a:visited {
	color: #ff6600;
	font-weight: bold;
	text-decoration: none!important;
}

a:hover {
	color: #ff9900;
}

.gt-content-box {
	word-wrap:break-word!important;
	border: 0px solid #4c4847;
	border-radius: 5px;
	padding: 1px;
}

.gt-table tr:hover td {
	background-color: #f3f3f3!important;
}

.gt-nav ul li a {
	font-size: 100%!important;
}

.gt-nav a:hover, .gt-nav a.gt-active:link, .gt-nav a.gt-active:visited, .gt-nav .gt-active a:link, .gt-nav .gt-active a:visited {
	text-decoration: none!important;
}

a.stylishButton, .stylishButton {
	color: black!important;
	font-weight: bold!important;
	text-decoration: none!important;
	font-size:85%!important;
}

a.stylishButtonLarge, .stylishButtonLarge {
	color: black!important;
	font-weight: bold!important;
	text-decoration: none!important;
	font-size:100%!important;
}

.gt-table-buttons {
	margin: 0px 0px 0px 0px;
}

.gt-bd {
	padding-top: 25px!important;
	padding-bottom: 0px!important;
	padding-left: 35px!important;
	padding-right: 35px!important;
}

.gt-btn-green-large a:hover {
	text-decoration: none!important;
}

.gt-form.gt-content-box {
	padding: 15px 15px 5px 15px;
	margin-bottom: 0px!important;
}

/* Sidebar Content */
.gt-sidebar-content {
	word-wrap:break-word!important;
	border: 1px solid #4c4847;
	border-radius: 5px;
	padding: 10px;
}
