/*
Template:	GT-500
File:		override.css - Use this file to override any template styles
To override a style, just copy and paste the style from gt-styles.css into this file.
You can then use !important to override the style.

If you add styles to this template, be sure to include it in your template files.
*/

/*
Overridden for the cursor property.
*/
.gt-btn-green-mini, .gt-btn-green-small, .gt-btn-green-medium, .gt-btn-green-large, .gt-btn-brown-mini, .gt-btn-brown-small, .gt-btn-brown-medium, .gt-btn-brown-large {
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #fff!important;
	text-decoration: none!important;
	font-size: 13px;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer!important;
	cursor: hand!important;	
}

/*
Overridden for width.
*/
.gt-login-box {
	width: 200px!important;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em 3em;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
}

/*
Overridden for align right.
*/
.gt-util-box-inner {
	padding: .35em 2em;
	text-align : right!important; 
}

/*
Overridden color.
*/
.gt-table-categories a:link, .gt-table-categories a:visited {
	color: #47790a!important;
	text-decoration: none;
	
}
.gt-table-categories a:hover {
	text-decoration: underline;
}

a:link, a:visited {
	color: #47790a;
	text-decoration: none!important;
}

a:hover {
	text-decoration: underline!important;
}

.gt-content-box {
	word-wrap:break-word!important;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1px;
}

.gt-table tr:hover td {
	background-color: #f1f4e2!important;
}

.gt-nav ul li a {
	font-size: 100%!important;
}

.gt-nav a:hover, .gt-nav a.gt-active:link, .gt-nav a.gt-active:visited, .gt-nav .gt-active a:link, .gt-nav .gt-active a:visited {
	text-decoration: none!important;
}

.gt-table-buttons {
	margin: 0px 0px 0px 0px;
}

.gt-search .gt-search-text {
	color: black!important;
}

.gt-bd {
	padding-top: 25px!important;
	padding-bottom: 0px!important;
	padding-left: 35px!important;
	padding-right: 35px!important;
}
