<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="javaMailSender" name="emailSender.javaMailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		
		<property name="host">
			<value>mail.gandi.net</value>
		</property>
		<property name="port">
			<value>465</value>
		</property>
		<property name="protocol">
			<value>smtps</value>
		</property>
		<property name="username">
			<value>patrice@lendity.ch</value>
		</property>
		<property name="password">
			<value>12@@klopklio</value>
		</property>
		 
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">60000</prop>
				<prop key="mail.transport.protocol">smtps</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.port">465</prop>
			</props>
		</property>
		
	</bean>	
		
</beans>