<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:orchestra="http://myfaces.apache.org/orchestra"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	                    http://myfaces.apache.org/orchestra http://myfaces.apache.org/orchestra/orchestra.xsd">
	
	
	<bean id="initialData" class="com.pferrot.sharedcalendar.initialdata.InitialData">
		<property name="userDao" ref="security.userDao"/>
		<property name="roleDao" ref="security.roleDao"/>
		<property name="personDao" ref="personDao"/>
		<property name="listValueDao" ref="listValueDao"/>
		<property name="itemDao" ref="itemDao"/>
		<property name="passwordEncoder" ref="security.passwordEncoder"/>
	</bean>
	
	<bean id="configuration" class="com.pferrot.sharedcalendar.configuration.Configuration" lazy-init="false">
		<property name="siteName">
			<value>patriceferrot.com</value>
		</property>		
		<property name="rootURL">
			<value>http://localhost:8080/shared_calendar</value>
		</property>
		<property name="noReplyEmailAddress">
			<value>no_reply@patriceferrot.com</value>
		</property>
		<property name="noReplySenderName">
			<value>patriceferrot.com</value>
		</property>
		<property name="supportEmailAddress">
			<value>support@patriceferrot.com</value>
		</property>
		<property name="nbDaysToValidateRegistration">
			<value>30</value>
		</property>
	</bean>
	 
	<!--
	<bean id="dataSource" name="core.dataSource,security.dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>org.apache.derby.jdbc.EmbeddedDriver</value>
		</property>
		<property name="url">
			<value>jdbc:derby:c:\dev\_db\gollum;create=false</value>
		</property>
		<property name="username">
			<value></value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>
	-->
	<bean id="dataSource" name="core.dataSource,security.dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/sharedcalendar?characterEncoding=UTF-8</value>
		</property>
		<property name="username">
			<value>pferrot</value>
		</property>
		<property name="password">
			<value>klop</value>
		</property>
	</bean>	
	 
	<bean id="transactionManager" name="security.transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="auditEventListener" class="org.hibernate.envers.event.AuditEventListener" />

	<bean id="sessionFactory" name="security.sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>		
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="eventListeners">
			<map>
				<entry key="post-insert">
					<ref local="auditEventListener" />
				</entry>
				<entry key="post-update">
					<ref local="auditEventListener" />
				</entry>
				<entry key="post-delete">
					<ref local="auditEventListener" />
				</entry>
				<entry key="pre-collection-update">
					<ref local="auditEventListener" />
				</entry>
				<entry key="pre-collection-remove">
					<ref local="auditEventListener" />
				</entry>
				<entry key="post-collection-recreate">
					<ref local="auditEventListener" />
				</entry>																				
			</map>
		</property>
	</bean>
	
	<bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="listValueDaoTarget" class="com.pferrot.sharedcalendar.dao.hibernate.ListValueDaoHibernateImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="listValueDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target">
			<ref local="listValueDaoTarget"/>
		</property>
		<property name="proxyInterfaces">
           <value>com.pferrot.sharedcalendar.dao.ListValueDao</value>
         </property>		
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="baseTransactionProxy"	class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<!-- 
	========================================================================================================================
	REGISTRATION - start
	 -->
	
	<bean id="registrationService" parent="baseTransactionProxy">
		<property name="target" ref="registrationServiceTarget" />
	</bean>
		
	<bean id="registrationServiceTarget" class="com.pferrot.sharedcalendar.registration.RegistrationService">
		<property name="userDao" ref="security.userDao"/>
		<property name="roleDao" ref="security.roleDao"/>
		<property name="personDao" ref="personDao"/>
		<property name="listValueDao" ref="listValueDao"/>
		<property name="passwordEncoder" ref="security.passwordEncoder"/>
		<property name="mailManager" ref="emailSender.mailManager"/>
	</bean>
	
	<bean id="registrationStep1" class="com.pferrot.sharedcalendar.registration.jsf.RegistrationStep1"
	      scope="request">
		<property name="registrationController" ref="registrationController"/>
		<property name="registrationService" ref="registrationService"/>
	</bean>
	
	<bean id="registrationStep2" class="com.pferrot.sharedcalendar.registration.jsf.RegistrationStep2"
	      scope="request">
		<property name="registrationController" ref="registrationController"/>
		<property name="registrationService" ref="registrationService"/>
	</bean>
	
	<bean id="registrationStep3" class="com.pferrot.sharedcalendar.registration.jsf.RegistrationStep3"
	      scope="request">
		<property name="registrationController" ref="registrationController"/>
		<property name="registrationService" ref="registrationService"/>
	</bean>		
	
	<bean id="registrationController" class="com.pferrot.sharedcalendar.registration.jsf.RegistrationController"
	      scope="conversation.access" orchestra:conversationName="registration">
	      <property name="registrationService" ref="registrationService"/>
	</bean>

	<bean id="registrationValidationController" class="com.pferrot.sharedcalendar.registration.jsf.RegistrationValidationController"
	      scope="request">
	      <property name="registrationService" ref="registrationService"/>
	</bean>
	
	<!-- 
	REGISTRATION - end
	========================================================================================================================
	 -->
	 
	<!-- 
	========================================================================================================================
	LOST PASSWORD - start
	 -->
	
	<bean id="lostPasswordService" parent="baseTransactionProxy">
		<property name="target" ref="lostPasswordServiceTarget" />
	</bean>
		
	<bean id="lostPasswordServiceTarget" class="com.pferrot.sharedcalendar.lostpassword.LostPasswordService">
		<property name="userDao" ref="security.userDao"/>
		<property name="personDao" ref="personDao"/>
		<property name="mailManager" ref="emailSender.mailManager"/>
	</bean>

	<bean id="lostPasswordStep1" class="com.pferrot.sharedcalendar.lostpassword.jsf.LostPasswordStep1"
	      scope="request">
		<property name="lostPasswordController" ref="lostPasswordController"/>
		<property name="lostPasswordService" ref="lostPasswordService"/>
	</bean>
	
	<bean id="lostPasswordStep2" class="com.pferrot.sharedcalendar.lostpassword.jsf.LostPasswordStep2"
	      scope="request">
	</bean>	
	
	<bean id="lostPasswordController" class="com.pferrot.sharedcalendar.lostpassword.jsf.LostPasswordController"
	      scope="conversation.access" orchestra:conversationName="lostpassword">
	      <property name="lostPasswordService" ref="lostPasswordService"/>
	</bean>
	 
	<!-- 
	========================================================================================================================
	PERSON - start
	 -->
	 
	<bean id="personDaoTarget" class="com.pferrot.sharedcalendar.dao.hibernate.PersonDaoHibernateImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="personDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target">
			<ref local="personDaoTarget"/>
		</property>
		<property name="proxyInterfaces">
           <value>com.pferrot.sharedcalendar.dao.PersonDao</value>
         </property>		
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="personService" parent="baseTransactionProxy">
		<property name="target" ref="personServiceTarget" />
	</bean>
	
	<bean id="personServiceTarget" class="com.pferrot.sharedcalendar.person.PersonService">
		<property name="personDao" ref="personDao"/>
	</bean>
	
	<bean id="personsListController" class="com.pferrot.sharedcalendar.person.jsf.PersonsListController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	      <property name="connectionRequestService" ref="connectionRequestService"/>
	</bean>

	<bean id="myConnectionsListController" class="com.pferrot.sharedcalendar.person.jsf.MyConnectionsListController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	      <property name="connectionRequestService" ref="connectionRequestService"/>
	</bean>

	<bean id="myBannedPersonsListController" class="com.pferrot.sharedcalendar.person.jsf.MyBannedPersonsListController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	      <property name="connectionRequestService" ref="connectionRequestService"/>
	</bean>
	
	<bean id="personOverviewController" class="com.pferrot.sharedcalendar.person.jsf.PersonOverviewController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	</bean>
	
	<bean id="personEditController" class="com.pferrot.sharedcalendar.person.jsf.PersonEditController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	</bean>	
	
	<!-- 
	PERSON - end
	========================================================================================================================
	 -->

	<!-- 
	========================================================================================================================
	CONNECTION REQUEST - start
	 -->
	 
	<bean id="connectionRequestDaoTarget" class="com.pferrot.sharedcalendar.dao.hibernate.ConnectionRequestDaoHibernateImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="connectionRequestDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target">
			<ref local="connectionRequestDaoTarget"/>
		</property>
		<property name="proxyInterfaces">
           <value>com.pferrot.sharedcalendar.dao.ConnectionRequestDao</value>
         </property>		
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="connectionRequestService" parent="baseTransactionProxy">
		<property name="target" ref="connectionRequestServiceTarget" />
	</bean>
	
	<bean id="connectionRequestServiceTarget" class="com.pferrot.sharedcalendar.connectionrequest.ConnectionRequestService">
		<property name="connectionRequestDao" ref="connectionRequestDao"/>
		<property name="listValueDao" ref="listValueDao"/>
		<property name="personDao" ref="personDao"/>
		<property name="mailManager" ref="emailSender.mailManager"/>
	</bean>

	<bean id="myPendingConnectionRequestsListController" class="com.pferrot.sharedcalendar.connectionrequest.jsf.MyPendingConnectionRequests"
	      scope="conversation.access">
	      <property name="connectionRequestService" ref="connectionRequestService"/>
	</bean>

<!--	
	<bean id="personsListController" class="com.pferrot.sharedcalendar.person.jsf.PersonsListController"
	      scope="conversation.access">
	      <property name="personService" ref="personService"/>
	</bean>	
-->	
	<!-- 
	CONNECTION REQUEST - end
	========================================================================================================================
	 -->
	 	 
	<!-- 
	========================================================================================================================
	ITEM - start
	 --> 
	 
	<bean id="itemDaoTarget" class="com.pferrot.sharedcalendar.dao.hibernate.ItemDaoHibernateImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="itemDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target">
			<ref local="itemDaoTarget"/>
		</property>
		<property name="proxyInterfaces">
           <value>com.pferrot.sharedcalendar.dao.ItemDao</value>
         </property>		
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
		
	<bean id="itemService" parent="baseTransactionProxy">
		<property name="target" ref="itemServiceTarget" />
	</bean>
		
	<bean id="itemServiceTarget" class="com.pferrot.sharedcalendar.item.ItemService">
		<property name="itemDao" ref="itemDao"/>
		<property name="listValueDao" ref="listValueDao"/>
		<property name="personDao" ref="personDao"/>
	</bean>
	
	<bean id="itemOverviewController" class="com.pferrot.sharedcalendar.item.jsf.InternalItemOverviewController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>
	
	<bean id="itemAddController" class="com.pferrot.sharedcalendar.item.jsf.InternalItemAddController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>
	
	<bean id="itemEditController" class="com.pferrot.sharedcalendar.item.jsf.InternalItemEditController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>
	
	<bean id="itemsListController" class="com.pferrot.sharedcalendar.item.jsf.ItemsListController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>
	
	<bean id="myItemsListController" class="com.pferrot.sharedcalendar.item.jsf.MyItemsListController"
	      scope="session">
	      <property name="itemService" ref="itemService"/>
	</bean>

	<bean id="myBorrowedItemsListController" class="com.pferrot.sharedcalendar.item.jsf.MyBorrowedItemsListController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>

	<bean id="myLentItemsListController" class="com.pferrot.sharedcalendar.item.jsf.MyLentItemsListController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>

	<bean id="myConnectionsItemsListController" class="com.pferrot.sharedcalendar.item.jsf.MyConnectionsItemsListController"
	      scope="conversation.access">
	      <property name="itemService" ref="itemService"/>
	</bean>

	<!-- 
	ITEM - end
	========================================================================================================================
	 -->

	<!-- 
	Listener to store the current person ID in the session, so it avoids to always query the DB to retrieve it.
	 -->
<!--	<bean id="currentPersonListenerTarget" class="com.pferrot.sharedcalendar.person.listener.CurrentPersonLoginListener">-->
<!--    	<property name="personDao" ref="personDao"/>-->
<!--	</bean>	-->
<!--	<bean id="currentPersonListener" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">-->
<!--		<property name="transactionManager" ref="transactionManager"/>-->
<!--		<property name="target">-->
<!--			<ref local="currentPersonListenerTarget"/>-->
<!--		</property>-->
<!--		<property name="transactionAttributes">-->
<!--			<props>-->
<!--				<prop key="onApplicationEvent">PROPAGATION_REQUIRED</prop>-->
<!--				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>-->
<!--			</props>-->
<!--		</property>-->
<!--	</bean>-->
	
	<!-- 
	Orchestra stuff...
	 -->
	<import resource="classpath*:/META-INF/spring-orchestra-init.xml"/>
	
    <!-- register our custom spring scope -->
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="conversation.manual">
					<bean class="org.apache.myfaces.orchestra.conversation.spring.SpringConversationScope">
						<property name="timeout" value="30" />
						<property name="advices">
							<list>
								<ref bean="persistentContextConversationInterceptor" />
							</list>
						</property>
						<property name="lifetime" value="manual" />
					</bean>
				</entry>			
				<entry key="conversation.access">
					<bean class="org.apache.myfaces.orchestra.conversation.spring.SpringConversationScope">
						<property name="timeout" value="30" />
						<property name="advices">
							<list>
								<ref bean="persistentContextConversationInterceptor" />
							</list>
						</property>
						<property name="lifetime" value="access" />
					</bean>
				</entry>
				<entry key="conversation.viewController">
					<bean class="org.apache.myfaces.orchestra.viewController.spring.SpringViewControllerScope">
						<property name="advices">
							<list>
								<ref bean="persistentContextConversationInterceptor" />
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>	
    
	<bean id="persistentContextConversationInterceptor" class="org.apache.myfaces.orchestra.conversation.spring.PersistenceContextConversationInterceptor">
		<property name="persistenceContextFactory" ref="persistentContextFactory" />
	</bean>    
    
    <!-- 
    <tx:annotation-driven/>
     -->
     
    <bean id="persistentContextFactory" class="com.pferrot.orchestra.hibernate.HibernatePersistenceContextFactory">
		<property name="entityManagerFactory" ref="sessionFactory"/>
    </bean>
    
<!--	<bean id="managedDataSource" class="org.apache.myfaces.orchestra.connectionManager.ConnectionManagerDataSource">-->
<!--    	<property name="dataSource" ref="dataSource"/>-->
<!--    </bean>    -->

	 
	
</beans>