<?xml version="1.0" encoding="UTF-8"?>
<!-- 
The main security configuration is in applicationContext-security.xml in the 
security module.
 -->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:orchestra="http://myfaces.apache.org/orchestra"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
		<!--
			AspectJ pointcut expression that locates our "post" method and
			applies security that way <protect-pointcut expression="execution(*
			bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
		-->
	</global-method-security>
	
	<http auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint">
		<!--
			Disable web URI authorization, as we're using
			<global-method-security> and have @Secured the services layer instead
			<intercept-url pattern="/listAccounts.html"
			access="IS_AUTHENTICATED_REMEMBERED" /> <intercept-url
			pattern="/post.html" access="ROLE_TELLER" />
		-->
		<!-- 
		<intercept-url pattern="/login.faces" filters="none" />
		<intercept-url pattern="/public/**" filters="none" />
		 -->
		<intercept-url pattern="/public/**" access="ROLE_ANONYMOUS, ROLE_USER" />
		<intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS, ROLE_USER" />
		<intercept-url pattern="/faces/myFacesExtensionResource/**" access="ROLE_ANONYMOUS, ROLE_USER" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />		
		<intercept-url pattern="/**" access="ROLE_USER" />
		<anonymous username="anonymous" granted-authority="ROLE_ANONYMOUS"/>
		<!--
			<intercept-url pattern="/secure/extreme/**"
			access="ROLE_SUPERVISOR"/>
		-->
		<!--
			<intercept-url pattern="/secure/**"
			access="IS_AUTHENTICATED_REMEMBERED" />
		-->
		<!--
			Uncomment to enable X509 client authentication support <x509 />
		-->

<!--         All of this is unnecessary if auto-config="true"-->
		<!-- 
		<form-login login-page="/login.jsp" 
			authentication-failure-url="/login.jsp?login_error=1"/>
		<logout logout-success-url="/index.jsp" />
		<anonymous />
		<http-basic />
		<logout />
 		-->
 		<!-- 
		<logout logout-success-url="/auth/home.faces" />
		 -->
		<!-- 
		<remember-me user-service-ref="security.customUserDetailsService"/>
		 -->
		<!--
			Uncomment to limit the number of sessions a user can have
			<concurrent-session-control max-sessions="1"
			exception-if-maximum-exceeded="true"/>
		-->
	</http>
	
	<beans:bean id="rememberMeProcessingFilter" class="com.pferrot.lendity.login.filter.CustomRememberMeProcessingFilter"> 
	  <custom-filter position="REMEMBER_ME_FILTER" /> 
	  <beans:property name="rememberMeServices" ref="rememberMeServices"/> 
	  <beans:property name="authenticationManager" ref="authenticationManager" />
	  <beans:property name="personDao" ref="personDao"/>
	</beans:bean>
	
	
	<!-- Defines which remember me implementation to use - in this case using a database table to log 'remembered' tokens --> 
	<beans:bean id="rememberMeServices" class="org.springframework.security.ui.rememberme.PersistentTokenBasedRememberMeServices"> 
	    <beans:property name="tokenRepository" ref="jdbcTokenRepository" /> 
	    <beans:property name="userDetailsService" ref="security.customUserDetailsService" /> 
	    <beans:property name="key" value="yeahYeahLendity" />
	    <!-- 2678400 seconds = 31 days 
	    !!! Setting that property breaks the remember me function. Not sure why...
	    <beans:property name="tokenValiditySeconds" value="2678400" />
	    --> 
	    <beans:property name="alwaysRemember" value="false" /> 
	</beans:bean>

	<!--
	Uses a database table to maintain a set of persistent login data
	
	Need the following table to exist:
	create table persistent_logins (username varchar(64) not null, series varchar(64) primary key, token varchar(64) not null, last_used timestamp not null);
	
	See http://static.springsource.org/spring-security/site/docs/2.0.x/reference/remember-me.html
	 -->
	<beans:bean id="jdbcTokenRepository" class="org.springframework.security.ui.rememberme.JdbcTokenRepositoryImpl"> 
	    <beans:property name="createTableOnStartup" value="false" /> 
	    <beans:property name="dataSource" ref="dataSource" /> 
	</beans:bean>
	
	
	<beans:bean id="rememberMeAuthenticationProvider" class="org.springframework.security.providers.rememberme.RememberMeAuthenticationProvider"> 
		<!-- This ensures that remember-me is added as an authentication provider --> 
		<custom-authentication-provider /> 
		<beans:property name="key" value="yeahYeahLendity"/> 
	</beans:bean>


	<beans:bean id="logoutFilter" class="org.springframework.security.ui.logout.LogoutFilter"> 
	    <custom-filter position="LOGOUT_FILTER" /> 
	    <beans:constructor-arg value="/auth/home.faces" /> 
	    <!-- URL redirected to after logout --> 
	    <beans:constructor-arg> 
	        <beans:list> 
	            <beans:ref bean="rememberMeServices" />
	            <beans:bean class="org.springframework.security.ui.logout.SecurityContextLogoutHandler"/>
	        </beans:list> 
	    </beans:constructor-arg> 
	</beans:bean>      
	
	<beans:bean id="loginController" class="com.pferrot.lendity.login.jsf.LoginController"
	      scope="request">
	</beans:bean>	

	<beans:bean id="authenticationController" class="com.pferrot.lendity.login.jsf.AuthenticationController">
	</beans:bean>	

	<beans:bean id="authenticationProcessingFilter"	class="com.pferrot.lendity.login.filter.CustomAuthenticationProcessingFilter">
		<custom-filter position="AUTHENTICATION_PROCESSING_FILTER" />
		<!--
		Now handled in CustomAuthenticationProcessingFilter.java 
		<beans:property name="authenticationFailureUrl" value="/login.faces?loginFailed=true"/>
		-->
		<beans:property name="defaultTargetUrl" value="/auth/home.faces" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="personDao" ref="personDao"/>
		<beans:property name="rememberMeServices" ref="rememberMeServices" />  
	</beans:bean>

	<beans:bean id="authenticationProcessingFilterEntryPoint"	class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<beans:property name="loginFormUrl" value="/public/login.faces" />
		<beans:property name="forceHttps" value="false" />
	</beans:bean>

	<authentication-manager alias="authenticationManager" />
	
</beans:beans>