Hello $lenderFirstName,

Ceci est un rappel concernant l'objet que $borrowerName dois te retourner le $endDateLabel.

Accéder à la transaction $lendTransactionTitle: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl