Hello $lenderFirstName,

Ceci est un rappel concernant l'objet que $borrowerName doit te retourner le $endDateLabel.

Accéder au prêt $lendTransactionTitle: $lendTransactionUrl

A bientôt sur $siteName.

$siteUrl